[2017-09-22 14:04] raciat commented on #439
:+1:

[2017-09-26 05:39] Cyval opened #476 "How do I access the License API thru here?"
Hello, according to Github API docs, you need to attach `application/vnd.github.drax-preview+json` in the `Accept` header. Once that is supplied, one should get the license info along with the repo object. However, I tried the following:

[code]

but to no avail. How can I access the License API using this package? Thanks in advance

[2017-10-02 18:31] eprislac opened #478 "Include a way to require more than one reviewer for a pull-request"
Currently, my team requires two 'approved' reviews to allow a PR to be merged, but there's no way to enforce it on Github. I'd like to request the ability to restrict merges of PRs without a user-defined number of 'approved' reviews.

[2017-10-02 18:49] #446 closed

[2017-10-04 04:37] T0RAT0RA opened #480 "listBranches does filter protected branches"
Hi,
the `listBranches()` method doesn't allow to filter protected branches.
Is there a workaround to get all protected branches of a repository?

Github API: https://developer.github.com/v3/repos/branches/#list-branches

[2017-10-04 19:03] T0RAT0RA commented on #480
I implemented what I needed in: https://github.com/github-tools/github/pull/481.

[2017-10-10 17:47] producerism opened #482 "Include compiled JS in "releases" archive"
When tagging a new release, the built/compiled/minified JS should be included. Seems like standard practice for most "releases"

[2017-10-11 02:36] T0RAT0RA opened #484 "Can't update branch protection from Repository Object."
https://developer.github.com/v3/repos/branches/#update-branch-protection

[2017-10-11 03:15] sadam0930 commented on #344
+1

[2017-10-13 14:04] vitorcominato commented on #435
Same Problem here.

[2017-11-03 09:11] mahnunchik opened #487 "You have triggered an abuse detection mechanism. Please wait a few minutes before you try again."
The following code:
[code]

produces error 403: `You have triggered an abuse detection mechanism. Please wait a few minutes before you try again.`

[2017-11-03 15:07] clayreimann commented on #487
It sounds like you've hit a rate limit. Can you check the [rate limit](https://github-tools.github.io/github/examples/ratelimit)

[2017-11-03 15:17] mahnunchik commented on #487
Hi @clayreimann It happens after the first or second launch.

Limit is about 5K requests per hours.

[2017-11-03 15:21] clayreimann commented on #487
That sounds correct. I'm not sure what you're looking for in this issue. We are not affiliated with GH Inc and cannot change your rate limit.

You could parallelize your task with multiple personal tokens if you must exceed 5k requests/hour.

[2017-11-03 16:33] mahnunchik commented on #487
First search by `foobar` query hits the `You have triggered an abuse detection mechanism. Please wait a few minutes before you try again.` error. I did not reach 5k limit. Actually it performs about 10-20 requests before that error.

If I understand correctly I should be able to specify delay between pages or something similar.

[2017-11-05 18:30] rahuldeo2047 opened #488 "Modified image file is not being updated."
Hi all,
I am looking for **the github** repo where I can submit an issue related to a file update failure/delay. Please guide me through.

## Issue:
I think images with very small differences are not being reflected on github.

## What happens:
Please check the image file (image with a spelling mistake) ![image with spelling mistake](https://raw.githubusercontent.com/ROS-BLOCKS/design-ROS-Blocks/m

[2017-11-06 13:53] clayreimann commented on #488
I believe you're looking for the `Contact GitHub` link at the bottom of every page. We're not associated with github, we only make a JS api to talk to GitHub.

[2017-11-12 06:56] rahuldeo2047 commented on #488
OK Thank you.
Closing it here as the issue at a wrong repo.

[2017-11-12 06:57] #488 closed

[2017-11-16 16:17] robinzimmermann opened #489 "Can't provide headers for preview features"
From the [collaborators API doc](https://developer.github.com/v3/repos/collaborators/#list-collaborators):

I don't see a way to add a header like this in the current API.

[2017-12-10 15:21] nicholaslee119 opened #491 "[feature request]There is no API for [ Get a single release asset ]"
https://developer.github.com/v3/repos/releases/#get-a-single-release-asset
I think it is very important to wrapper this API¥

for example, I am dealing with the auto-update of electron. I am trying to let the client-side to detect the latest release by itself and download the release asset to update.

[2017-12-16 21:09] cornhundred opened #492 "403 error from getSha for files above ~1MB in size"
I'm getting a 403 error when I try to use Github.js to getSha (and subsequently getBlob) from files larger than ~1MB. Is there a limit to the file size? The code is below:

[code]

The GitHub API says that it supports blobs up to 100MB in size and I could not find anything about filesize limits in the Github.js docs

(I also asked about this on [StackOverflow](https://stackoverflow.com/questions/4

[2017-12-22 17:20] cornhundred commented on #492
answered in above stackoverflow link

[2017-12-22 17:20] #492 closed

[2018-01-02 07:18] RobiFerentz opened #493 "writeFile function fails when response status header is 304 unmodified"
The response object in the getSha returned promise fails on here `commit.sha = response.data.sha;`
The response.data is null, the status header of the response object is '304 Unmodified'
The writeFile function fails before the PUT requests are created.

https://github.com/github-tools/github/blob/24223f7a51ba935f1c86ffd552dac20e8f3e359d/lib/Repository.js#L732

[2018-01-05 20:13] TeddyHandleman opened #494 "deleteHook fix not available from NPM"
While using the package installed from NPM, i notice that deleteHook had an error where "/repos/" was not prepended to the path. I subsequently noticed that there was a fix for this on January 30, 2017 here: https://github.com/github-tools/github/pull/418

Unfortunately, this fix does not seem to be included in any of the releases. When I install from npm, i still see the version with the bug.  Wo

[2018-01-07 14:54] sajithdilshan opened #495 "response will be undefined for 404 endpoint"
https://github.com/github-tools/github/blob/24223f7a51ba935f1c86ffd552dac20e8f3e359d/lib/Requestable.js#L187

In the above code **response** will be undefined if the request is for a non-existing endpoint (which will result in 404 response).

In-order to re-produce invoke getSha() method for a non-existing in the repository

[2018-01-15 21:35] glillibridge commented on #427
No response. I have same problem. Seems like they do not care.

[2018-01-15 21:51] AurelioDeRosa commented on #427
It's not that we don't care but the project doesn't have many active contributors (perhaps 1 at the moment). So, if you want to see this fixed, your best bet is to submit a PR yourself.

[2018-01-30 07:59] SameerSawla opened #496 "500 Internal Server Error when updating file with 40MB data #update-a-file"
The update(PUT) API call for file sizes under **22MB** works through. But for bigger file sizes (such a **40MB**), the update rest endpoint of Github fails with a **500 internal server exception.**

Not sure whats happening here. Size of the test file is greater than 10 megs, so hosted payload could be found here : https://nofile.io/f/0gampnACOOE/testAPILargeFile_base64.txt

[2018-03-07 01:48] subversivo58 opened #497 "Error on local or self hosted unpkg "blundle" file"
When I download and use locally the file `GitHub.bundle.min.js` I am aware of an error that points to regex failure ... This error occurs both in the **unpkg** (web) version and in the **npm** version both minified.

![error-githubapijs](https://user-images.githubusercontent.com/6475273/37068485-b0d62024-218d-11e8-82b9-6e13a4dc86c8.png)

The  "unminified" version (`GitHub.bundle.js`) does not show

[2018-03-07 02:35] subversivo58 commented on #497
I apologize for sure its not a bug in the library or your dependencies ... it was a gross mistake on my part not to set a `charset` on a new Nginx server.

I added the `charset utf-8;` and the error was corrected.

[2018-03-07 02:35] #497 closed

[2018-03-21 06:53] bmintz opened #498 "GitHub gist v3 API returns HTTP 422 and "missing_field: user""
*deleted*

[2018-03-21 07:19] #498 closed

[2018-03-29 17:35] rsullivan00 opened #499 "Deployments API"
Any plans to add the [Deployments API](https://developer.github.com/v3/repos/deployments/) to this wrapper?

[2018-03-29 21:40] dariye opened #500 "Unable to access a label's 'description' property from the response data object."
Hi, I'm trying to access the label description using the v3 API. I am able to get all labels but I don't see the description property in the response data object.

Is the 'description' property deprecated?

[2018-04-19 10:41] PAX523 commented on #344
+1

[2018-04-19 11:34] jacksao commented on #344
#505

[2018-04-24 18:13] tkmoney opened #506 "Fork into organization"
It looks like the js api doesnt support forking into an organization even those the REST api supports it.

https://developer.github.com/v3/repos/forks/#create-a-fork

http://github-tools.github.io/github/docs/3.1.0/Repository.html#fork

Can this be added? Thanks!

[2018-05-01 23:02] jplein opened #507 "Commits, statuses, etc. after first page are not included in results"
Steps to reproduce:

1. Find a commit with more than 30 statuses
2. Write a script which instantiates a repo object and calls `repo.listStatuses(sha)`, where `sha` is the commit from step 1
3. Look at the list of results

Actual:
- Only the first page of results is included
- Looking at `Repository.js`, only a single HTTP request is being made:

[code]

Expected:
- All are included, or something i

[2018-05-08 12:27] FWDekker opened #508 "Repository `listCommits` does not call callback if options are omitted"
# Expected Behaviour
Calling `listCommits` on a `Repository` should execute the callback even when no options are given. According to [the function's documentation](http://github-tools.github.io/github/docs/3.0.0/Repository.html#listCommits), the `options` are optional (unlike, for example, the `options` of [`listPullRequests`](http://github-tools.github.io/github/docs/3.0.0/Repository.html#listPu

[2018-05-22 15:16] culmat opened #509 "Organisation.listMembers returns max 30 members"
http://github-tools.github.io/github/docs/3.1.0/Organization.js.html#line67
expected behavior is requestAllPages

[2018-06-06 10:49] TongDaDa opened #510 "Parameters and the document does not match"
I shall be carried out in accordance with the steps to create the warehouse, but there were 404, here is my code

[code]

Where is the problem?  please

![screen shot 2018-06-06 at 7 47 04 pm](https://user-images.githubusercontent.com/23241188/41036376-6ff483d4-69c2-11e8-8678-300f1dbfb221.png)

[2018-06-12 17:03] GlauberF opened #511 "list the branches of my repository"
The documentation is a bit confusing, how do I list the branches of my repository?

I tried the way below and could not:

![captura de tela de 2018-06-12 14-10-29](https://user-images.githubusercontent.com/11314585/41305452-558eff7a-6e49-11e8-8c52-019996a9dd71.png)

[2018-06-20 08:27] Superpencil opened #512 "Double utf8 encoding"
Using this library, pushing out a string as content for createBlob encodes it to utf-8.
The result on GitHub is utf-8, so I assumed that:
- either my string was already encoded (it is not, running Utf8.decode() errors)
- something is encoding the string twice in the library (I can't see that anywhere)
- I'm encoding the string myself already (No, and doing so on purpose results in a double-encoded

[2018-06-22 11:36] AnixPasBesoin commented on #344
Is this in github's roadmap?

[2018-06-22 11:51] megaxlr commented on #344
@AnixPasBesoin Unlikely since this still marked as <needs clarification> even though there is a very clear definition from Thatkookooguy

[2018-06-22 11:56] AnixPasBesoin commented on #344
@megaxlr that's a bummer!  Thanx for answering ^^

[2018-06-23 11:18] Superpencil commented on #512
Duplicate of https://github.com/github-tools/github/issues/463

[2018-06-23 11:18] #512 closed

[2018-06-27 21:20] charbelsako opened #514 "listStarredRepos not really doing anything"
first, can this be run on a website with native js?

Second, is the listStarredRepo function bugged. I tried running it with callbacks, with the .then.
used my password and then used an access token.

## What i want to achieve
I want a page that lists all of my repos. That's it.
I don't really need to authenticate myself since the repo data is public.

[2018-07-09 08:06] Interfish commented on #487
Hi, don't know if you already got an answer for that. Check this issue: [issue](https://github.com/k0shk0sh/FastHub/issues/1619). In summary, github search has a standalone rate limit other than github api rate limit

[2018-07-13 06:38] Aravindios opened #515 "on_complete': GET https://api.github.com/user/emails: 401 - Bad credentials"
`on_complete': GET https://api.github.com/user/emails: 401 - Bad credentials // See: https://developer.github.com/v3 (Octokit::Unauthorized)

[2018-07-20 09:25] #515 closed

[2018-08-02 22:05] chiendevit opened #517 "How to catch the login exception ?"
I do not want the login failure to ruin my program. I want it to show something or to do something when the login fails. But do not know how to catch it.

Any comments are appreciated!

[2018-08-02 22:08] #517 closed

[2018-08-20 02:53] filiptdz commented on #344
+1

[2018-08-21 20:03] RobSchrage commented on #344
+1

[2018-08-24 01:17] FranklinYu opened #518 "Is this project still in active development?"
Last commit about a year ago; recent Pull Requests do not receive comment from maintainers.

[2018-08-29 10:01] scottybo commented on #506
Seconded...

[2018-09-02 13:52] limin opened #519 "repository.writeFile could overwrite the changes"
The file changes are overwritten when repository.writeFile is called to save the file which has been updated by the others.

[2018-09-05 01:48] limin opened #520 "options parameter in Repository.writeFile is required instead of optional"
The below error is thrown when Repository.writeFile is called without passing options parameter

TypeError: options is undefined

See api doc at: http://github-tools.github.io/github/docs/3.1.0/Repository.html#writeFile

[2018-09-12 10:39] thomasfdm commented on #344
+1

[2018-09-13 07:33] vivaxy opened #521 "Wrong API base"
https://github.com/github-tools/github/blob/master/lib/Requestable.js#L76

If path is '/repo//', should still add api base to the path.

[2018-09-26 17:56] DavideMant opened #522 "Node.js/GitHub API - commit Image file in repository with github-api"

[2018-09-26 17:57] DavideMant opened #523 "Node.js/GitHub API - commit Image file in repository with github-api"
I extracted a dataURL from a canvas and I want to send this content to my GitHub Repository using 'github-api': http://github-tools.github.io/github/docs/3.1.0/Repository.html#writeFile

I can do commit but only with a String and on GitHub I can see the file with the dataURL. On GitHub if I click on the image committed with api I can see that: "data:image/jpeg;charset=utf-8;base64, dataURL......",

[2018-09-26 18:08] #522 closed

[2018-10-08 22:11] butterfly-pn commented on #344
+1

[2018-10-18 18:42] #358 closed

[2018-10-20 10:37] mgomersbach commented on #344
+1

[2018-10-23 09:21] wuyxp opened #524 "Please upgrade NPM to latest version"
In version 3.0.0
` ` `
const searchData = await this.github.search().forRepositories
` ` `
There are still some mistakes
There will be a constant entry to next that cannot be stopped.
I see the fix in version 3.1.0 of the current project, but it has not been released to NPMJS

[2018-10-23 13:18] stmoreau commented on #344
+1

[2018-10-29 10:47] zerothi commented on #344
Bump issue, it has been clarified what was the intent

[2018-10-29 12:47] megaxlr commented on #344
I'm rather thinking of closing it entirely since it seems like they dont care about this.

[2018-10-29 14:01] mgomersbach commented on #344
Please don't. Closing it will only make it more unlikely.

[2018-10-30 05:47] megaxlr commented on #344
But it will stop the chain of "+1" emails I have been getting. Its two years since we clarified the issue. The developers so clearly don't care about this issue there is no reason to keep it open. A label "Won't fix" is more likely than a fix.

[2018-10-30 07:48] zerothi commented on #344
@megaxlr if you don't want mails, you can simply mute the thread :)
I.e. in the mail you receive for this correspondence there is a "mute thread" in the bottom. Then you can _forget about it_ :)

[2018-10-30 09:42] stmoreau commented on #344
Maybe we are lucky and the new CEO really likes that feature and will push for it :joy: :joy: :joy: :joy:

[2018-10-30 12:22] #344 closed

[2018-10-30 14:30] stmoreau opened #525 "Bio doesn't support markdown"
The Bio text area on https://github.com/settings/profile doesn't support markdown as it used to.

[This issue](https://github.com/github-tools/github/issues/344) was heavily supported by the community. It was open since 2016, was labeled as "needs clarification" and got closed due to inactivity just today.

[2018-10-30 14:31] stmoreau commented on #344
I opened https://github.com/github-tools/github/issues/525 to have this issue open somewhere.

[2018-11-06 14:30] ekeren opened #526 "Allow commit message author and committer on delete file action"
The commit message for file deletion is hardcoded, we would like to allow the same api as `writeFile`

The new signature should be:
`function deleteFile(branch, path, message, options, cb)`
instead of existing one:
`function deleteFile(branch, path, cb)`

message, option - should be optional

We already have the code that fixes this issue in our code base, if this request is approved we can open a

[2018-11-18 01:29] ndattani opened #527 "Making my organization's members appear public by default"
I checked the related issues list and nothing came up.

I have had some frustrated organization members:

![selection_999 486](https://user-images.githubusercontent.com/1163013/48667561-09397a80-eaa7-11e8-9717-840e7c9025da.jpg)

I searched online and found the instructions for changing from "private" to "public" for organization visibility:
https://help.github.com/articles/publicizing-or-hiding-or

[2018-11-19 17:05] Malvoz opened #528 "Searching content within <details> in issues."
It is not possible to search for text-content that resides within `<details>` elements inside GitHub issues.

Try [searching this repo for the alphabet](https://github.com/github-tools/github/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+abcdefghijklmnopqrstuvwxyz) that is written inside this element:

<details><summary><b>The alphabet</b></summary>
abcdefghijklmnopqrstuvwxyz
</details>

[2018-11-22 12:54] lucantini opened #529 "[Question] Milestone API"
How exactly do I get all the PRs and Issues related to a single Milestone on a repo?

[2018-11-27 03:52] aasmpro commented on #344
need Markdown every where :|

[2018-11-27 14:18] lucasgmartins commented on #511
Hi @GlauberF,

I just made this a few moments ago, I hope that help you. PS: Using version 3.0.0

`

      const github = new Github({ token : 'yourtoken' });

      const me     = github.getUser();
      const organization = await github.getOrganization('yourorganization');
      const repositorie = await organization.getRepo('repo name');

      const branches = await Promise.all(repos.map(repos

[2018-12-01 16:59] dushyant89 opened #530 "Tabs and spaces preference is not applied"
When creating or editing a gist, if i am specifying `Tabs` with an indent size of 2 then on creating or updating the code is not indented with the size 2.

<img width="987" alt="screen shot 2018-12-01 at 17 57 35" src="https://user-images.githubusercontent.com/477059/49330718-b2e23680-f592-11e8-97dc-74f6d1a92dd1.png">

<img width="993" alt="screen shot 2018-12-01 at 17 57 47" src="https://user-ima

[2018-12-01 16:59] #530 closed

[2018-12-03 03:06] ndattani opened #531 "Organization page only shows 16 members, even though we have 5 members per row, so there's a row with only one picture, which looks weird."

[2018-12-15 22:09] Hermios opened #533 "Error 422 by posting a new tree"
Hi
I am having an issue by posting a new tree on my Github. I wonder if it is my json file:
{"tree": [{
      "path": "graphics",
      "mode": "040000",
      "type": "tree"
    },
    {
      "path": "locale",
      "mode": "040000",
      "type": "tree"
    },
    {
      "path": "methods",
      "mode": "040000",
      "type": "tree"
    },
    {
      "path": "migrations",
      "mode": "0400

[2018-12-18 04:25] snpd25 opened #534 "The time of the commits are not getting updated after fork"
I forked a repository and haven't updated it yet, but the time of the previous commits should continue to get updated, which is not happening, even though after refreshing the page!

[2018-12-19 06:07] #534 closed

[2018-12-26 22:44] IgorMats opened #535 "[Question] Topics API"
Hello everyone!

I did not find any **topics** API implementation (yeah, I know it's in preview) but I need that API for the personal purpose so I implemented it by myself.

Should I make a **PR**?

Thanks.

[2018-12-31 01:19] FracturedRetina opened #536 "Error when requesting deleted gist"
[code]

[2019-01-12 08:34] huangjianke opened #537 "module "tty" is not defined"
![image](https://user-images.githubusercontent.com/8692455/51071185-cef3f000-1687-11e9-8a90-b52b972031cd.png)
Used in wechat miniprogram

[2019-01-25 22:12] ipsquare opened #538 "Working with github enterprise"
Is there a way to use this lib with Git-Hub Enterprise? Please provide a sample doc. if possible.

[code]

[2019-01-31 21:13] DanielRuf opened #539 "Current project status - Maintainers wanted"
Hi, what is the current status of this project? Is it still actively maintained?

[2019-02-03 06:56] liuximu opened #540 "response null point: bad token rsp is null"
Uncaught (in promise) TypeError: Cannot read property 'data' of undefined

[2019-02-05 18:35] ssajnani opened #541 "Please ensure there is one callback returned per function call"
**Description**
Many of the function calls like listRepos are returning two callbacks and is messing up my application workflow. Thanks for your time!

I found the exact location in Requestable.js:
[code]
The cb(null, results, response) is providing me with all the repos, but then the callback for the ErrorOrThrow is spawning a second callback.

[2019-02-05 18:51] #541 closed

[2019-03-31 15:28] clayreimann commented on #539
@DanielRuf Not by me. Can't speak to @aendrew, @AurelioDeRosa, or some of the other usual suspects from when I worked on the project. But given that we're going on 18 months w/o a commit I think we could use some new blood

[2019-03-31 21:17] AurelioDeRosa commented on #539
Things have definitely changed for me since I contributed to this project. So, new contributors are very welcome.

[2019-03-31 23:54] clayreimann commented on #539
@AurelioDeRosa it looks like you and Ændrew are the only to admins in `github-tools` so you guys are the only ones who will be able to onboard new contributors. I've updated the readme with a link to this issue so if you see notifications in the near future it would be great if volunteers were addressed quickly.

[2019-03-31 23:56] clayreimann commented on #538
Did you figure out the issue? I've used it with GHE in the past just fine.

What error are you getting from this snippet?

[2019-03-31 23:57] clayreimann commented on #540
Can you provide a sample of the call you were making when you got this error?

[2019-04-05 08:08] EhsaanSafia123 opened #542 "XVIZ parser"

[2019-04-05 08:10] EhsaanSafia123 commented on #542
Could anyone provide some code synopsis to parse the .json file generated from XVIZBuilder

[2019-04-05 20:12] j-rewerts commented on #539
How would I go about becoming more actively involved?

[2019-04-05 20:13] j-rewerts commented on #539
It looks like it has the odd PR to review. 😄

I have contributions I'd like to make as well, though they may have been made in one of the PRs.

[2019-04-05 20:20] clayreimann commented on #539
@j-rewerts if you wanted to start reviewing PRs I can merge PRs that you think look good.

Unfortunately I can’t give you write access myself

[2019-04-05 20:23] j-rewerts commented on #539
No worries! I'll familiarize myself with the project and make a couple changes. Then I'll start looking through the list. Would you or some of the other current maintainers be willing to work with me in the transition period?

[2019-04-05 21:06] j-rewerts opened #543 "Failing repo read test"
The test 'should fail when null ref is passed' is failing right now, as it looks like GitHub has switched to returning a 422 Unprocessable Entity in these cases.

[2019-04-05 21:26] j-rewerts commented on #526
Please submit this as a PR.

[2019-04-05 21:30] AurelioDeRosa commented on #539
@clayreimann I just made you an owner of this repo. I hope this unlock the situation.

[2019-04-05 22:28] j-rewerts opened #546 "Allow for specifying the commit author"
Somewhat like #526. I'd like to be able to specify who is the author of the commit. The [GitHub API](https://developer.github.com/v3/git/commits/#create-a-commit) seems to allow for this.

I'm willing to make the PR for this, as well as accompanying tests.

[2019-04-07 19:25] CodyGramlich commented on #539
I'm interested in contributing to this project too

[2019-04-07 20:43] CodyGramlich commented on #521
I don't think there would be a situation where there would be double slashes in the URL. For repository names, if `/` is in the name, it gets replaced with `-`.

[2019-04-07 21:17] clayreimann commented on #539
@codygramlich that’s good to hear. Feel free to start reviewing open PRs. If you tag me in a comment saying that a PR is good, a duplicate, or can be closed I’ll get on it

[2019-04-07 21:26] CodyGramlich opened #549 "Upgrade dependencies"
npm audit gives
[code]

The one critical vulnerability is
[code]
This requires growl to be greater than version 1.10.2, which requires mocha to be at least 4.0.1. Currently mocha 3.1.2 is being used.

[2019-04-07 23:22] CodyGramlich commented on #549
Upgrading gulp from 3.9.0 to 4.0.0 solves 6 vulnerabilities, but then `gulp build` no longer works and gives me this error:
[code]

[2019-04-08 07:46] vivaxy commented on #521
I thought it could be nicer if the method could tolerant some mistakes. The double slash mistake could be corrected when users passing params anyway. Thanks f
or your reply.

[2019-04-08 07:46] #521 closed

[2019-04-09 03:11] #543 closed

[2019-04-09 15:32] j-rewerts opened #552 "Add warning message to APIs that are in preview"
I'll use this issue to track the preview APIs we consume. We will add some sort of warning into the docs regarding this.

[2019-04-09 15:33] j-rewerts commented on #552
@clayreimann Feel free to assign this to me.

[2019-04-10 02:51] #546 closed

[2019-04-10 05:57] j-rewerts commented on #531
@ndattani Could we get some more information? What function are you calling? Can I see a screenshot of the output?

[2019-04-10 05:59] j-rewerts commented on #537
@huangjianke Could you post some code for us to see? We might be able to help sort out why this is happening.

[2019-04-10 06:06] j-rewerts commented on #529
I think you'd have to [list all issues](http://github-tools.github.io/github/docs/3.1.0/Issue.html#listIssues), then filter based on the milestone object that they have. Check out [GitHub's docs](https://developer.github.com/v3/issues/#response-2) on the object schema that is returned.

[2019-04-10 06:07] j-rewerts commented on #535
@IgorMats Please do!

We're discussing how we'll handle preview APIs in #552 . Come give your thoughts on it there.

[2019-04-10 06:18] j-rewerts commented on #527
There is [an API](https://developer.github.com/v3/orgs/members/#publicize-a-users-membership) for it, but I'm not sure it would solve your problem. It sounds like there's no way for a super user to do this on behalf of another user. You'd have to actually impersonate the user, then have their user account change the membership. You might be able to have your new employees give a token to your web

[2019-04-10 06:25] j-rewerts commented on #525
@stmoreau Hi Stephane. I'm new to the project so bear with me.

It seems to me from the thread you referenced that people are under the impression that GitHub's bio doesn't support markdown (it doesn't as far as I can tell). If I have that right, it's probably worth mentioning that this repo doesn't have anything to do with GitHub proper and is just a JavaScript client library that makes using Git

[2019-04-10 06:29] j-rewerts commented on #518
We're looking for maintainers. Some new people have stepped up. Work is being done. See #539

[2019-04-10 06:29] j-rewerts commented on #518
@clayreimann Feel free to close this.

[2019-04-10 06:35] j-rewerts commented on #514
It should be able to work in a browser, but keep in mind risks associated with having your GitHub credentials exposed in a client app.

GitHub throttles unauthenticated API access, so I think you would probably still want to auth. Maybe try something like this:
[code]

This may not be exact, but something like this should work.

[2019-04-10 06:37] j-rewerts commented on #542
@EhsaanSafia123 Could you expand? How does this relate to `github-api`?

[2019-04-10 06:39] j-rewerts commented on #533
@Hermios Did you ever end up resolving this issue?

[2019-04-10 06:40] j-rewerts commented on #528
This seems like a GitHub issue. This repo is just for the `github-api` package.

[2019-04-10 06:41] j-rewerts commented on #528
Try sending an email to support@github.com. I think they'd be interested in this!

[2019-04-10 06:41] j-rewerts commented on #528
@clayreimann Feel free to close this.

[2019-04-10 06:43] j-rewerts commented on #524
@clayreimann I second this. It'd be nice to push out a new release one of these days. I'd also be interested in learning what our release process looks like.

[2019-04-10 08:44] huangjianke commented on #537
@j-rewerts Thanks, The problem has been solved

[2019-04-10 08:44] #537 closed

[2019-04-10 10:41] Malvoz commented on #528
@j-rewerts

Thanks, will do!

[2019-04-10 10:41] #528 closed

[2019-04-10 15:59] #518 closed

[2019-04-11 04:02] CodyGramlich opened #553 "Follow user follows yourself (same for unfollow)"
https://github.com/github-tools/github/blob/90fb78b2fb4b4e8e607d24a3dacc983caed2437e/lib/User.js#L182-L202

The `username` argument in these functions is not used. Instead, these requests attempt to follow or unfollow the authenticated user. Surprisngly, there are no errors when you attempt to follow yourself and the same status code is returned as if you were to follow someone else. However, if y

[2019-04-11 04:31] CodyGramlich commented on #553
#513 This person ran into this problem.

[2019-04-11 07:01] normoes opened #555 "Cannot enter text when creating a gist"
I use `Mozilla Firefox 66.0.2` with the following plugins installed:
* Decentraleyes
* Privacy Badger
* AdBlocker Ultimate
* Ghostery

Now, when I try to create a new gist, I cannot  edit the main text field - It's just disabled.
I can edit the description field and the file name field though.

On Chrome it is working perfeclty.

[2019-04-16 19:27] kylejeske commented on #539
I'd be interested in contributing. Let me know how I can be of some use.

[2019-04-17 01:14] clayreimann commented on #539
@kylejeske I would echo the same advice I gave to @j-rewerts and `DanielRuf`

Though now you'll be able to tag @j-rewerts, as I've just given him write access as well.

[2019-04-17 01:53] clayreimann commented on #524
@wuyxp Sorry for the long delay, `v3.2.0` is now live on npm.

@j-rewerts the library is deployed to npm automatically when a tag is pushed. It looks like I never generated a new deploy token after that npm token leak debacle. I think I've got it sorted out now though.

[2019-04-17 01:53] #524 closed

[2019-04-17 01:54] #451 closed

[2019-04-17 03:14] j-rewerts commented on #524
@clayreimann Thanks!

[2019-04-24 04:29] j-rewerts commented on #436
For those following this issue, 3.2 has been published.

[2019-04-24 04:29] #436 closed

[2019-04-24 04:30] j-rewerts commented on #436
Check it out [here](https://github.com/github-tools/github/releases/tag/3.2.0).

[2019-04-24 04:34] j-rewerts opened #556 "Downloading binary fails"
Reported by @xgeek-net in #516 .
`
There has a bug when I download binary file with github api, and I found responseType needs to be stream but not text, so can you review this and marge?
`

I'll track this issue here. If no one gets around to my request in the PR, I'll get to it eventually. We need a test that reproduces what @xgeek-net identified.

[2019-04-24 04:47] j-rewerts commented on #480
There is a PR for this in #483. Feel free to address the feedback and reopen. If no one gets around to implementing this, I'll probably get to it eventually.

[2019-04-28 17:47] j-rewerts opened #557 "Scan for changes to API"
GitHub has a tool for reading for changes to their REST API.

https://github.com/octokit/routes

We might be able to use this to notify us of changes that could impact github-api users.

[2019-05-02 19:31] j-rewerts commented on #506
We have a PR open in #503 , but there are some changes that need to be made.

[2019-05-02 19:33] WJXHenry commented on #539
Hi! I'd like to contribute to this repo as well.

[2019-05-02 19:35] WJXHenry commented on #506
@j-rewerts I'll resubmit that PR with your requested changes!

[2019-05-02 21:35] WJXHenry commented on #520
Hey @limin, I was unable to reproduce this error except for when I passed in 'undefined' as a parameter to options. Would you be able to provide more details on how you got this error?

[2019-05-02 22:04] WJXHenry commented on #520
Hey @j-rewerts, I think @limin might have been passing in 'undefined' as a parameter for options. Feel free to close this issue.

[2019-05-02 22:17] j-rewerts commented on #520
Closing. @limin Feel free to reach out and let us know if this is still an issue. We can always reopen this issue.

[2019-05-02 22:17] #520 closed

[2019-05-05 02:36] muna09 opened #560 "protection50 bots"
plz tell me how i make my persnal bot

[2019-05-06 15:09] j-rewerts commented on #560
Hi @muna09! Can you tell me a little more about what you're trying to achieve? What do you want your personal bot to do?

[2019-05-06 23:27] 10ngui opened #562 "could it be pageable for searching"
#367
it is slow due to search for all items ,

[2019-05-06 23:51] j-rewerts commented on #562
Yeah makes sense. It looks like we call the [Requestable._requestAllPages](https://github.com/github-tools/github/blob/master/lib/Search.js#L54) function. If we used [this](https://github.com/github-tools/github/blob/master/lib/Requestable.js#L156) function, you could pass through a page token as an option.

I'm open to a PR!

[2019-05-06 23:52] j-rewerts commented on #562
@WJXHenry, @kylejeske Let me know if you want to take this on.

[2019-05-07 17:48] WJXHenry commented on #562
@j-rewerts Sure, I'll be happy to take this on!

[2019-05-21 11:31] etsardou opened #563 "Acquire organization projects"
Is there a way to get an organization's projects (and not a repositorie's projects)?

[2019-05-21 11:39] etsardou commented on #563
Found it, sorry :) http://github-tools.github.io/github/docs/3.1.0/Organization.html#listProjects

[2019-05-21 11:39] #563 closed

[2019-05-27 22:07] #508 closed

[2019-05-29 15:53] j-rewerts opened #564 "Deprecate GitHub-API"
I'd like to open up the discussion around deprecating this package. GitHub itself maintains a great JavaScript client library in [Octokit](https://github.com/octokit/rest.js). I think due to the popularity of our library, it almost hurts the community since we're splitting efforts across multiple projects.

I propose we come up with a rough timeline to deprecating this package and formally recomme

[2019-05-29 15:55] j-rewerts commented on #564
@clayreimann @CodyGramlich @WJXHenry @kylejeske Lets get a little discussion on this.

[2019-05-29 16:38] j-rewerts commented on #564
In terms of timelines, what if we did something like:

**June-July**
 - review all open pull requests, either closing them or merging them.
 - look through the ~100 open issues and determine if they're features, bugs, questions and so on.

**July-August**
 - submit new PRs to resolve the reported bugs and features

**September-December**
 - put a deprecation notice on the site and the readme
 - re

[2019-05-30 17:45] boiarqin opened #565 "Update Axios version from "^0.15.2" to "^0.19.0""
There was a high-severity security vulnerability found in axios (see https://github.com/axios/axios/issues/2183). Axios released a new version 0.19.0 today to address the issue.

Thank you!

[2019-05-30 17:55] j-rewerts commented on #565
I'll take a look at this soon.

[2019-05-30 20:03] j-rewerts commented on #565
[For more information](https://github.com/axios/axios/issues/2183).

[2019-06-13 19:32] j-rewerts commented on #565
My new test account was suspended 😢 I'm just waiting on GitHub support to reopen the account, then I can get the tests to pass and cut a new release in NPM.

[2019-06-14 16:23] boiarqin commented on #565
Thank you--we really appreciate the status update!

[2019-06-16 22:11] alundiak commented on #564
I have my small project for experiments with GitHub API v4 using GraphQL, and the reason I used github-tools aka `github-api` because I also have code using GitHub API v3 (REST). So, if github-tools will never support GraphQL v4 API, then sure thing => DEPRECATE.

Anyhow, it's goot, stable tool. For example, I don't know if @octokit provide code/API to work with Gists.

[2019-06-17 02:29] connorjclark opened #569 "`_requestAllPages` pagination is broken"
https://github.com/github-tools/github/blob/943ac8a7d36dbac6c0848bee9a5ca64dc229f807/lib/Requestable.js#L259

This bit:
[code]

can never be true, as the api functions (well, at least the one I need, `listStarredRepos`) don't allow for passing in options. Besides, it doesn't make much sense, I think it should be negated?

I have this line in my build script to bypass this issue:
[code]

[2019-06-17 21:25] j-rewerts commented on #565
Closed with #567. v3.2.2 has been released.

[2019-06-17 21:25] j-rewerts commented on #565
Let me know if you run into any more problems!

[2019-06-17 21:25] #565 closed

[2019-06-17 22:17] kb0rg commented on #565
Thanks so much!

[2019-06-17 23:00] boiarqin commented on #565
Thank you! 🙇‍♀

[2019-06-18 05:29] j-rewerts commented on #564
@kylejeske I'll add a notice of deprecation soon. Thanks for the suggestion.

@alundiak My hope is that by joining the github-api community with the OctoKit community, we'll have a better overall JavaScript client, though that remains to be seen. Currently, no one on the github-api project actually gets paid to work on it, which makes it a bit tricky to get active contributions.

Also, there are n

[2019-07-04 09:38] tamer1an commented on #539
Hi I also have some parts done on my side for branch protection

[2019-07-11 06:35] skeptycal commented on #487
## Homebrew suggests a fix:

I got this error today when trying to upgrade the homebrew python version to python 3.7.4 using homebrew (image below). I was actually doing a `homebrew search python` just to see what was available.

They suggest a fix, at least for homebrew, of clearing my macos keychain and resetting the github token as shown below.

## Notes:

## Suggested Fix:

create a personal a

[2019-07-16 23:10] tamer1an commented on #569
Yes it seems i can only get 100 starred repos

[2019-07-17 00:01] tamer1an commented on #569
Here is the fix: https://github.com/github-tools/github/pull/575

[2019-07-25 15:18] j-rewerts commented on #569
I'll take look at this soon. thanks!

[2019-08-06 22:23] rahulpsd18 opened #576 "Incomplete Create Commit API"
I think this API call is incomplete in the current version: https://developer.github.com/v3/git/commits/#create-a-commit

According to the documentation [here](https://github-tools.github.io/github/docs/3.1.0/Repository.html#commit), the implemented wrapper method expects `parent`, `tree` and `message` only (also callback) but the actual API supports `parents`, `tree`, `message`, `author`, `commit

[2019-08-09 10:09] lantchou opened #577 "Repository.writeFile fails if no options object is passed"
in the [documentation](http://github-tools.github.io/github/docs/3.1.0/Repository.html#writeFile) about `Repository.writeFile`, the `options` parameter is specified as optional. Despite this, the function fails if no `options` object is passed and throws this error:
[code]

The error seems to get thrown when `object.encode` is read. It only works for me when passing an empty object. This should be

[2019-08-10 01:31] j-rewerts commented on #487
@skeptycal Thanks for the work around!

Closing, as this issue seems related to GitHub.

[2019-08-10 01:31] #487 closed

[2019-08-10 01:35] skeptycal commented on #487
Sounds good.

[2019-08-10 01:58] j-rewerts commented on #576
This was actually added recently, I just haven't updated the site yet. See the method signature [here](https://github.com/github-tools/github/blob/master/lib/Repository.js#L334).

Try it out and let me know if you run into problems!

[2019-08-10 01:58] #576 closed

[2019-08-25 18:42] j-rewerts commented on #560
Closing due to lack of information. Feel free to comment in here with more info!

[2019-08-25 18:42] #560 closed

[2019-08-25 18:43] #395 closed

[2019-08-25 18:49] j-rewerts opened #578 "Pagination"
This issue will track all pagination-related issues. Our goal is to support both loading everything, as well as passing a token through and managing paging yourself.

[2019-08-25 18:49] j-rewerts opened #579 "Update documentation example for paging"
We will need some solid examples of paging requests, as well as an example where the library handles paging.

[2019-08-25 18:57] j-rewerts commented on #444
This is a library that's independent of GitHub. It appears you're having a problem with GitHub, but if I've misunderstood, feel free to reopen this issue.

[2019-08-25 18:57] #444 closed

[2019-08-25 18:58] j-rewerts commented on #445
See your other issue (#444). Please let me know if I've misunderstood and your issue is with our Javascript client library.

[2019-08-25 18:58] #445 closed

[2019-08-25 19:10] j-rewerts commented on #578
**Documentation**
- [ ] #579

**Features**
- [ ] could it be pageable for searching - #562
- [ ] Organisation.listMembers returns max 30 members #509
- [ ] Commits, statuses, etc. after first page are not included in results #507
- [ ] search is get all result, cause 403 error - #460
- [ ] list all gists - #458
- [ ] Cannot fetch all milestones - #441
- [ ] Pulling all contributors of a repo - #42

[2019-08-25 19:10] j-rewerts commented on #578
Some of these issues are likely outdated.

[2019-08-25 19:16] j-rewerts commented on #578
Our goal will be to have a standardized paging methodology that all functions make use of. Part of the problem right now is that some functions use `_requestAllPages` and some don't.

If we want to maintain backwards compatibility for our current 3.x.x release, I'm proposing that we default to `_requestAllPages`, but allow options to be passed in that includes `per_page` and `page`.

If we have ti

[2019-08-25 22:50] j-rewerts commented on #569
This should be resolved in [3.2.3](https://www.npmjs.com/package/github-api). Please try and confirm.

[2019-08-25 22:50] #569 closed

[2019-08-27 13:53] tamer1an commented on #579
Will try to prepare something at this weekends

[2019-09-01 03:47] #426 closed

[2019-09-01 16:32] j-rewerts commented on #426
This functionality is out in [v3.3.0](https://www.npmjs.com/package/github-api/v/3.3.0) now. Apologies for the delay!

[2019-09-10 14:43] thomasokken commented on #344
Lifting the 160-character limit would be nice as well. Whose bio fits in a tweet?!?
I just resorted to putting a link in there, but even that is a poor solution, because it is not clickable.

[2019-09-10 14:47] thomasokken opened #584 "bio field too short, doesn't support markup"
160 characters is very short for a bio (the text box under Edit Profile), and since you can't use any kind of mark-up in that box, even a clickable link to a proper bio is not possible. Could one or both of these restrictions be lifted?

[2019-09-10 23:31] j-rewerts commented on #584
I think you may be mistaking this repo as being for GitHub proper. We're actually a community-run GitHub Javascript client library and have no relationship with GitHub.

[2019-09-10 23:31] #584 closed

[2019-09-10 23:33] #525 closed

[2019-09-10 23:34] j-rewerts commented on #344
It's worth noting here that I believe this was a misunderstanding. This project isn't responsible for GitHub.com. It's just a Javascript client library with an extremely unfortunate name.

But agreed, GitHub should let us put more in our bio.

[2019-09-11 00:45] thomasokken commented on #584
Oops, you're right, I'm in the wrong place. Apologies, my bad!

[2019-09-11 21:07] j-rewerts commented on #584
Not a problem! 😄

[2019-09-12 14:38] rontrek opened #585 "isStarred() example, callback errors"
I am trying to do a `isStarred()` but getting error on callback if true or false, not sure if I am doing the right thing.

[code]
Console errors:
[code]

[2019-09-12 14:45] rontrek opened #586 "Create File, Pull Request and More Examples"
Aside from tests which most tend to ignore and go directly with actual testing, it would be nice to have more actual api examples to get a handle or familiarity with the api and perhaps leave the authentication blank if it is required on some to be filled out.

[2019-09-15 17:00] rontrek commented on #585
It's the unpkg dist (2.5.1?)

https://unpkg.com/github-api/dist/GitHub.bundle.min.js

[2019-09-17 16:14] j-rewerts commented on #585
That's a super old release. Could I talk you into migrating to a newer version?

[2019-09-21 18:19] CodyGramlich commented on #577
It seems to work without having the options parameter when the callback function is used, but ideally you should be able to call writeFile without either the options parameter or the callback function. I will look into this.

[2019-09-21 18:21] CodyGramlich commented on #577
I just realized this is solved in PR #588.

[2019-09-24 15:51] rontrek commented on #585
Yes thanks, I will try it. btw, I assumed it was the latest because it is suggested in the project front page and readme.md

Maybe update the cdn as well to the latest to avoid confusion.

[2019-09-24 16:36] j-rewerts commented on #585
Oh nice catch!

[2019-09-29 16:34] alimcmaster1 commented on #525
@j-rewerts - thanks for the response! Could you suggest the correct repo to raise this issue in?

[2019-09-30 10:39] kthy commented on #555
I'm seeing the same today with Firefox 69.0.1, uBlock Origin and the DuckDuckGo Privacy Essentials add-on.

[2019-10-02 12:20] sustained opened #590 "No topics are available when using getDetails."
As you can see [here](https://developer.github.com/v3/repos/#get) the Github API provides a list of tags/topics however this library does not provide those to us when using `getDetails`.

[2019-10-03 00:08] timgcarlson opened #592 "listBranches() does not return all branches in a repository"
When using `listBranches()` on a repository with _over_ 30 branches, I only get 30 branches in the response. The response includes the page information:

[code]

However, I do not see a way to include options on the [listBranches()](http://github-tools.github.io/github/docs/3.2.3/Repository.html#listBranches) function. Is it currently possible to get back all the branches in the repository?

[2019-10-03 19:02] timgcarlson commented on #592
I'm able to get all the branches if I use `_requestAllPages` and `__fullname`:

[code]

Is this going to be my only solution without updating this wrapper? I'm happy to submit a PR if this is a feature that could be added. Perhaps including an option to use _requestAllPages when needed, but defaulting to not use it to avoid rate limits.

[2019-10-04 04:20] j-rewerts commented on #525
Tbh, I'm not too sure. Maybe it could help if people contact GitHub support?

[2019-10-04 04:24] j-rewerts commented on #555
Sorry @normoes and @kthy, this isn't actually a repo for GitHub proper. This is actually just a JavaScript client library.

[2019-10-04 04:24] #555 closed

[2019-10-04 06:56] kthy commented on #555
Fair enough 😁 I just ended up here through Google and didn't think to check where I was posting. Sorry for the noise!

[2019-10-04 16:45] CCAtAlvis commented on #539
Count me in!! This project seems really good!

[2019-10-04 17:09] DanielRuf commented on #539
@CCAtAlvis this is a NodeJS project. Not sure if this is ok for you regarding your GitHub bio / profile description.

[2019-10-07 10:40] CCAtAlvis commented on #539
@DanielRuf ohh ya 😆😆 My bio is more of a memeish thing. I have been working with node for quite sometime now (although much of that work remains in private repos)

[2019-10-07 13:46] aendrew commented on #539
Hi all, apologies for not jumping into this issue sooner.

I'm absolutely happy to hand over privileges to anyone who seems able to manage the project properly; my own OSS contributions have declined pretty dramatically and I really don't have time to maintain this anymore.

Because it has a rather-large user base, I'd prefer someone with past experience contributing to open source projects — I'd

[2019-10-07 13:54] DanielRuf commented on #539
I would be happy to maintain it and apply my strict security rules to it and collaborate with Liran Tal from Snyk as we did already for Verdaccio and so on =)

[2019-10-07 19:41] ramigs commented on #590
I've tried `GET` `repos/:owner/:repo` (as `getDetails` does) from curl, and didn't get the list of topics as well.

Seems to be related to the API itself (inconsistent docs??).

[2019-10-07 19:46] ramigs commented on #539
I'd also like to contribute to this project.

[2019-10-07 20:28] sustained commented on #590
Could be.

I wonder how one reports an issue relating to the Github API...

[2019-10-07 22:13] sustained opened #593 "listPullRequests({ state: 'all' }) does not return all pull requests."
# Reproduction

[code]

# See

https://github.com/vuejs/rfcs/pulls

[2019-10-07 22:18] sustained commented on #590
I sent them an email.

[2019-10-07 22:23] sustained commented on #579
Any updates? Need some help?

[2019-10-07 22:27] sustained commented on #593
Ah. It's relating to all these pagination issues.

# Workaround

[code]

[2019-10-07 22:30] sustained commented on #578
There seem to be a lot of pagination-related issues. I'm happy to try to help get this sorted but I might need a bit of help/guidance because I don't know the codebase.

[2019-10-08 12:01] j-rewerts commented on #590
Let us know how it goes. I'll close this, but let me know if anyone wants it reopened.

[2019-10-08 12:01] #590 closed

[2019-10-08 12:13] j-rewerts commented on #577
After looking at this a little more closely, it looks like our old approach was to require a callback. If a function was provided as the options param, we would assume that the user was passing in the callback function. When we added promises, people stopped using callbacks, so we can no longer assume that this is a required parameter (even though the docs say it is).

[2019-10-08 12:20] j-rewerts opened #594 "Repository tests must be run synchronously"
Our Repository `creating/modifiying` tests seem to rely on a test repo being created prior to them being run. This makes it challenging to debug individual tests, and it also prohibits running multiple tests simultaneously.

We can solve this 1 of 2 ways:
1. Every test initialises it's own test repositories.
This seems like it'd be slow, but it may be worth it. Basically all of our tests are integ

[2019-10-08 13:12] j-rewerts commented on #578
Yes this is the primary issue with the library right now. The big thing we'd need is standardization. Every function call in our library that hits a GitHub endpoint that allows paging should allow for our users to pass through something like:
[code]

In terms of guidance, I'll try to put together a PR with an example of the direction I'm thinking of going in.

[2019-10-08 13:29] j-rewerts commented on #579
@sustained Feel free!

[2019-10-08 13:31] j-rewerts commented on #592
This is related to a larger issue around paging. We have quite a few issues for paging, but I'd like to leave this open to ensure it gets dealt with. See #578.

[2019-10-08 13:32] j-rewerts commented on #592
PRs are welcome, btw! Also, discussion around how we're going to handle paging would be welcome. Comment in #578 if you're interested.

[2019-10-08 13:32] j-rewerts commented on #586
Agreed! PRs welcome!!

[2019-10-08 13:47] j-rewerts commented on #593
Is this related to pagination? This just seems like an options-passing issue.

[2019-10-08 15:44] sustained commented on #593
I don't know.

But I found the `_requestAllPages` workaround in another issue relating to pagination.

So presumed it was that.

[2019-10-09 18:01] sustained opened #595 "How to send a custom header?"
If you send `Accept: application/vnd.github.mercy-preview+json` then you get access to some extra stuff e.g. repository topics. So far I couldn't find any way to do this but I'm still searching through the code/docs.

[2019-10-11 14:33] FreakinKat commented on #539
I usually Do not contribute, off this accout, but I can lend some of my time to see if anything needs a tweak or 2, or just over all Keep close eye out for anyone trying to turn it into an "event-stream- like thing" may not be much but integrity means alot to me and the author wants that so I guess i can be the buzz killer for those who try?

[2019-10-13 04:54] gr2m commented on #564
👋 hey friends, I'm the maintainer of the Octokit libraries for Node and browsers. I've only found out about this issue now. I wonder if there is anything I can help with? Maybe there are features that people very much appreciate in `github-api` that are lacking in Octokit? Please let me know if there is anything I can help with

[2019-10-14 10:51] j-rewerts commented on #564
Thanks for reaching out @gr2m! I think this is a great direction to go down. Having you onboard to help merge our communities would be super helpful!

I'm guessing that as we get more serious about deprecation, more users will start posting there opinions. Maybe I could ask these users to create an issue in the Octokit repo?

[2019-10-14 13:09] aendrew commented on #539
@DanielRuf It'd be _amazing_ if you want to maintain it, have looked through your commit history and you seem above board 😄

Will pass privs to you and leave it up to you how you want to manage additional contributors. 👍

[2019-10-14 13:31] DanielRuf commented on #539
@aendrew thank you, I have accepted the invitation and I'll create a more detailed plan in the next days and go through open issues and PRs.

[2019-10-14 20:39] gr2m commented on #564
Yes, of course. Maybe we could collaborate on a migration guide that you could add to this repository as part of the deprecation?

[2019-10-20 14:24] DanielRuf commented on #238
waffle.io does not exists anymore so this is obsolete.

[2019-10-20 14:24] #238 closed

[2019-10-20 14:26] DanielRuf commented on #542
Closing as this is unclear and nothing related to github-api.

[2019-10-20 14:26] #542 closed

[2019-10-20 14:26] DanielRuf commented on #594
Or we could run the tests in sequence which should be supported by most testrunners.

[2019-10-21 16:26] j-rewerts commented on #594
Yeah after looking into Travis' documentation on parallel runners, it looks like it probably isn't worth the effort. We can reopen if our tests start to grow.

[2019-10-21 16:26] #594 closed

[2019-11-06 20:32] otaviocx opened #598 "list commits on a pull request seems to be missing"
Hi, devs. There is an end-point in GitHub API that is for listing the commits inside a pull request: https://developer.github.com/v3/pulls/#list-commits-on-a-pull-request. It seems that there is no function to map that end-point in Github.js. Could you please confirm if it is missing and if not, could you please say how can I do a request to this end-point? Thanks in advance!

[2019-11-14 14:11] v1adko commented on #578
I'd like to add that `orgainsation.getRepos(` only returns first 100 repositories.

[2019-11-21 03:17] mattaharish commented on #539
Hey, this project seems interesting, i would like to start contributing.

[2019-11-27 04:25] Kamoba opened #601 "GitHub Login page Freeze"
Hi,
I don't know if I'm on the right page to submit a bug on GitHub itself but, Houston i have a problem.

Every time I try to connect to GitHub from https://github.com/login and from my PC with Firefox or Brave browser the page takes about 4 minutes to fully load, before I can fill in my login information.
But no problem on Chrome and Edge.
Whether I disable the extensions or restart Firefox with

[2019-11-29 18:02] j-rewerts commented on #601
Hey @Kamoba. This is actually a repo for a GitHub Javascript client library. We aren't directly associated with GitHub. I'd recommend contacting their [support](https://support.github.com/contact).

[2019-11-29 18:02] #601 closed

[2019-12-05 10:55] Vishesh30 commented on #539
Hey this is exactly what i was looking for . I would also like to contribute maybe to astart by adding support for github enterprise as i work with that ..! :)

[2020-01-04 02:15] kaytan911 opened #603 "new issue"
TypeError: Cannot read property 'encode' of undefined
    at Repository.writeFile (/Users/lucasantchougov/Documents/Work/oauth-rule-manager/node_modules/github-api/dist/components/Repository.js:941:37)
    at GitHubRuleManager.commitWorkspace (/Users/lucasantchougov/Documents/Work/oauth-rule-manager/lib/rule_managers/github-rule-manager.js:143:18)
    at /Users/lucasantchougov/Documents/Work/matey

[2020-01-04 08:39] DanielRuf commented on #603
You forgot to provide `options` or the callback function inlib/rule_managers/github-rule-manager.js.

See https://github.com/github-tools/github/blob/master/lib/Repository.js#L751-L758 and https://github.com/github-tools/github/commit/eb2b4f311c2d5f876bcc669c2b78092847e9f9b7

The fifth parameter should be some options object or `undefined` or the callback function.

[2020-01-11 08:35] nasirhjafri commented on #539
Hi, looks like interesting project. I would like to be maintainer.

[2020-01-12 22:30] sustained commented on #539
I'll look into the code and see if I understand it enough, if I do maybe I could help at least somewhat.

I have a lot of experience, it's just that I never wrote an API wrapper before.

[2020-01-14 22:04] danwenzel commented on #415
I recommend switching to https://github.com/octokit/rest.js.  It's better-maintained, and [can do what you're looking for](https://github.com/octokit/rest.js/blob/master/docs/src/pages/api/02_introduction.md)

[2020-01-14 22:05] danwenzel commented on #595
I recommend switching to https://github.com/octokit/rest.js.  It's better-maintained, and [can do what you're looking for](https://github.com/octokit/rest.js/blob/master/docs/src/pages/api/02_introduction.md)

[2020-02-11 16:38] mm-gmbd commented on #435
Also running into the same issue. I forked the repo and added the following to lib/Requestable.js:

- Dependency on [url-parse](https://www.npmjs.com/package/url-parse)
- Dependency on [https-proxy-agent](https://www.npmjs.com/package/https-proxy-agent)

[code]

FYI this code does NOT cover all edge cases and I haven't created any unit tests for this, but it's working on my side as long as the `ht

[2020-02-11 16:40] mm-gmbd commented on #435
Also, the current code I've got for this is on my forked repo feature branch `feature/proxy-support`.

[2020-02-22 19:15] j-rewerts commented on #585
Closing. Let us know if you run into this issue in newer releases!

[2020-02-22 19:15] #585 closed

[2020-03-18 06:04] AlQaholic007 commented on #539
Hi @aendrew I would love to maintain and contribute to the project if possible. I've been using it for quite some time now and have looked at and understood the code base as well

[2020-03-27 12:13] massoul commented on #538
Yes it works. @ipsquare
You need to fill in the token as an object and apiBase as a string:
`gh = new GitHub({ "token":"1234qwerty" }, "url-to-the-enterprise-api" );`

[2020-04-10 06:42] fabswt opened #608 "GitHub Gist: resize; preview"
Hi there,

Any chance to offer Markdown preview and a resize button in the GitHub Gist editor?

While writing Markdown in a GitHub issue or comment is a delight, doing so in the GitHub Gist editor is a pain.

Thanks for reading!

[2020-04-21 02:33] maneeshms commented on #539
Hi @aendrew , I am also interested to contribute to the project.

[2020-05-02 19:52] Animelici804 opened #609 "Please add a Turkey country code support (+90) for SMS verification."
I would like to have a second verification support, but due to the country codes not including Turkey, I can't add an SMS verification. If you would add the Turkey country code support, which is "+90", I would highly appreciate it.

Thanks for reading.
- Animelici804

[2020-05-04 22:13] DanielRuf commented on #609
Hi @Animelici804,

this repository is not directly affiliated with GitHub the platform, it is `a minimal higher-level wrapper around Github's API.`.

Please contat the GitHub support at https://github.com/contact

[2020-05-04 22:13] #609 closed

[2020-05-07 13:57] sindelio commented on #344
The bio doesn't support markdown, such a simple feature to add :/

[2020-05-07 17:32] DanielRuf commented on #344
This repository is not directly affiliated with github.com or its platform. This project is an API wrapper for JavaScript.

[2020-05-07 17:34] DanielRuf commented on #608
This repository is not directly affiliated with github.com or its platform. This project is an API wrapper for JavaScript.

[2020-05-07 17:34] #608 closed

[2020-05-07 19:40] cyberbiont opened #610 "How to tag a gist?"
One can install Github gist as project dependency with npm, using the following syntax (from official npm-install documentation):
`npm install gist:[<githubname>/]<gistID>[#<commit-ish>|#semver:<semver>]`

But I can see no possibility to add the release tag to gist on Github (like you can do it with regular repository via 'releases' tab).
So, when I change something in my gist, I cannot get it upd

[2020-05-07 22:33] DanielRuf commented on #610
This repository is not directly affiliated with github.com or its platform. This project is an API wrapper for JavaScript.

Please contact the support of github.com.

[2020-05-07 22:33] #610 closed

[2020-05-07 22:35] DanielRuf commented on #610
Afaik this is not supported. Gists are just the equivalent to pastebin entries. Plain syntax highlighted code with live view, revisions and comments. No tags, releases, branches, whatsoever.

[2020-05-07 22:47] DanielRuf commented on #610
The npm docs are probably not correct or inconsistent.

https://github.com/npm/cli/blob/latest/docs/content/cli-commands/npm-install.md

Please file this issue there.

`semver:` is not possible. Only the commitish way. The second alphanumeric string is the revision.

revision 1:
https://gist.github.com/DanielRuf/798e733786fcaf7faaf19eab704bf83a/e3c731c2a5702d3d1e08a7689d19aaaaef6f0e91

revision 2:

[2020-05-07 22:49] DanielRuf commented on #610
The npm docs are probably not correct or inconsistent.

https://github.com/npm/cli/blob/latest/docs/content/cli-commands/npm-install.md

Please file this issue there.

`semver:` is not possible. Only the commitish way. The second alphanumeric string is the revision.

revision 1:
https://gist.github.com/DanielRuf/798e733786fcaf7faaf19eab704bf83a/e3c731c2a5702d3d1e08a7689d19aaaaef6f0e91

revision 2:

[2020-05-26 18:50] muditgupta68 commented on #346
hello

[2020-06-02 02:46] Borumer commented on #539
Hello, I would like to contribute to this open source!

[2020-06-03 07:54] Gahamelas opened #611 "Code review contributions in Github"
This is a basic question, but... what counts as "code review" in the contribution graph in Github? Is it making comments on code or committing to code? I don't really understand the concept.

[2020-06-05 00:12] fran4485programador opened #612 "Github"

[2020-06-06 10:15] #612 closed

[2020-06-06 10:19] DanielRuf commented on #611
Hi @Gahamelas,

It seems you confuse this repo (GitHub API client written in JavaScript) with the GitHub support but I try to answer your question.

Code review is when you go to a PR (pull request), go to the "Files changed" tab of it and provide feedback (approve, comment, request changes).

<img width="811" alt="Bildschirmfoto 2020-06-06 um 12 17 27" src="https://user-images.githubusercontent.c

[2020-06-06 10:19] #611 closed

[2020-06-07 07:17] shivangdubey opened #613 "Misspelled Update"
There is a minor spelling mistake in "Update" which appears while collaborating with other contributors.
![issue](https://user-images.githubusercontent.com/55050487/83962681-0981ac80-a8bd-11ea-8d83-d67c41e6fcdc.jpg)

[2020-06-07 15:43] Gahamelas commented on #611
Thanks so much. At the cost of abusing your help...  Even if you don't comment, just approve a PR, will that be counting as code review?

[2020-06-07 15:56] DanielRuf commented on #611
Yes, approving a PR counts as code review.

![IMG_20200607_175608](https://user-images.githubusercontent.com/827205/83973650-38614800-a8e8-11ea-80b2-2d2ccf748759.jpg)

[2020-06-07 16:45] DanielRuf commented on #613
Hi, this repository is about a JavaScript library for the GitHUb API and not affiliated with GitHub.

You may want to contact the GitHub support.

https://github.com/contact

[2020-06-07 16:45] #613 closed

[2020-06-08 04:01] Gahamelas commented on #611
Thank you!

[2020-06-18 19:03] USABall opened #614 "HELP ME!"
i was making a third github account(i'm aware thats wierd, im wierd), so i got my third email account, while i was waiting for gmail to come up, i was playing with the email, after sometime it said youve triggered aan abuse detection mechanism, so i tried typing my real email, it still said it, i tried refreshing the page, the second i typed something in the email box it said ive triggered an abus

[2020-06-23 07:04] saa-lem commented on #303
How was the issue solved because I have the same error

[2020-06-26 01:16] Sanjay-B opened #615 "Allow Collaborators to edit settings on a personal repository"
I don't think I can physically list out the number of times I've needed to go back and forth between a repo owner and myself over a settings dilemma (webhooks, secrets), etc. This poses a major development flow restriction since the repo owner and I are in different timezones.

Github org would work in this case but, our workflow/development team isn't large enough to support an entire organizatio

[2020-06-26 17:04] DanielRuf commented on #615
Hi @Sanjay-B,

This repository here is for a Nodejs / JS API module for GitHub and it is not affiliated with GitHub.

Please contact the GitHub support and check their community.

[2020-06-26 17:04] #615 closed

[2020-06-26 17:05] DanielRuf commented on #615
An org is a bit like a group and easy to setup. You can move the repo to it.

[2020-06-28 22:07] cabra27l opened #616 "Where is the end?"
Components.Classes["@mozilla.org/xmlexhr.open("Post",URL,true)!
Bug1455601
Bug1338159
Sha1 in _ of field 4

[2020-06-28 22:56] DanielRuf commented on #616
This is probably not related to this repository which is for a JS API client for GitHub.

[2020-06-28 22:56] #616 closed

[2020-07-10 22:19] JakeKo commented on #539
I would also like to contribute to this project.

[2020-07-13 22:20] zzj0402 opened #617 "Open issue column on GitHub project"
Open issue column on GitHub project, like the GitLab:
![image](https://user-images.githubusercontent.com/15345547/87359211-7aeb0400-c5bb-11ea-8ac3-97201f52234b.png)

[2020-07-13 22:45] DanielRuf commented on #617
Hi @zzj0402,

please check the repository description:

<img width="330" alt="Bildschirmfoto 2020-07-14 um 00 44 14" src="https://user-images.githubusercontent.com/827205/87360822-3172c880-c56b-11ea-934d-627f00c0a3ff.png">

This repository is not affiliated with GitHub Inc and this is not an official support channel for GitHub. Please use the options at https://github.com/contact

[2020-07-13 22:45] #617 closed

[2020-07-14 07:55] suhendra775 opened #618 "Termux"

[2020-07-14 07:56] suhendra775 commented on #618
Help my

[2020-07-14 07:57] suhendra775 opened #619 "Http:github.com/hendra99/wifi-hacker"

[2020-07-14 09:32] #619 closed

[2020-07-14 09:32] #618 closed

[2020-07-14 09:32] DanielRuf commented on #618
Please see https://github.com/github-tools/github/issues/617#issuecomment-657835767

[2020-07-22 09:41] suhendra775 opened #620 "Github. Com"

[2020-07-22 09:57] #620 closed

[2020-07-22 09:58] DanielRuf commented on #620
Please see https://github.com/github-tools/github/issues/617#issuecomment-657835767

This is not a support channel for GitHub or github.com, this is a repository for a opensource JS API client which is not by GitHub Inc.

[2020-07-24 08:32] suhendra775 opened #621 "Indray"

[2020-07-24 08:37] #621 closed

[2020-07-24 08:45] suhendra775 opened #622 "Hendra"
​<?​xml​ version​=​"​1.0​"​ encoding​=​"​UTF-8​"​?>
<!​DOCTYPE​ ​plist​ PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<​plist​ ​version​=​"​1.0​"​>
<​dict​>
  <​key​>Label</​key​>
  <​string​>com.<​username​>.grab_pkt</​string​>

  <​key​>ProgramArguments</​key​>
  <​array​>
    <​string​>/usr/local/bin/node</​string​>
    <​string​>/Users/<​username​>/deve

[2020-07-24 09:10] DanielRuf commented on #622
@suhendra775 please stop opening issues in this project.

[2020-07-24 09:10] #622 closed

[2020-08-10 20:13] 9trocode commented on #539
I would love to contribute to this project

[2020-08-20 05:01] ritiksoni00 opened #625 "Assigned task Feature"
If any contributor is working in a very waste area of opensource and let's assume that he get assigned for the 100+ issues. for keep eyes on the assigned issue, there should bee a feature like the "Assigned issues".

[2020-08-20 06:45] DanielRuf commented on #625
Hi @ritiksoni00,

please check the repository description:

<img width="330" alt="Bildschirmfoto 2020-07-14 um 00 44 14" src="https://user-images.githubusercontent.com/827205/87360822-3172c880-c56b-11ea-934d-627f00c0a3ff.png">

This repository is not affiliated with GitHub Inc and this is not an official support channel for GitHub. Please use the options at https://github.com/contact

[2020-08-20 06:45] #625 closed

[2020-08-20 07:32] ritiksoni00 commented on #625
ohkayy!

[2020-08-20 07:52] DanielRuf commented on #625
Regarding your question, see https://github.com/issues

[2020-08-20 07:54] DanielRuf commented on #625
And there you can click on the "assigned" tab: https://github.com/issues/assigned

![IMG_20200820_095328](https://user-images.githubusercontent.com/827205/90732225-16fae000-e2cb-11ea-89af-6b3402ee5458.jpg)

[2020-08-20 07:55] DanielRuf commented on #625
Same is also available on a per repository label afaik.

[2020-08-20 07:56] DanielRuf commented on #625
The same is also available on a per repository level afaik.

[2020-08-31 21:36] jobvite-github opened #626 "Private data not returning"
When making a call to get the authenticated user's gists, it only returns the public gists.

[code]

Is this a GitHub API issue, a GitHub.JS issue, or am I missing something?

[2020-10-01 07:27] darshan-jain opened #627 "README.md profile for organisations"
How cool it would be if organisations could use the readme.md feature for describing more about their functioning.
This would not only help in the user understanding their repos, it will be easy for the contributors to know more about the firm at a glimpse

[2020-10-01 08:57] DanielRuf commented on #627
Hi @zzj0402,

please check the repository description:

<img width="330" alt="Bildschirmfoto 2020-07-14 um 00 44 14" src="https://user-images.githubusercontent.com/827205/87360822-3172c880-c56b-11ea-934d-627f00c0a3ff.png">

This repository is not affiliated with GitHub Inc and this is not an official support channel for GitHub. Please use the options at https://github.com/contact

[2020-10-01 09:09] zzj0402 commented on #627
Why I am mentioned exactly?

[2020-10-01 09:22] DanielRuf commented on #627
Sorry, my fault. I copied a response from another issue. You can ignore / unsubscribe from this issue here.

[2020-10-01 11:28] darshan-jain commented on #627
Thank you @DanielRuf .  Hope you are keeping safe

[2020-10-02 10:15] kaus2595 commented on #539
Hi @aendrew I would like to contribute in the project

[2020-10-06 16:59] chetanyakan commented on #346
![image](https://user-images.githubusercontent.com/35728906/95235511-5356b100-0823-11eb-8290-311565b4a57e.png)

[2020-10-20 19:53] mixhelove33 commented on #480
http://github.github.com/github-flavored-markdown/

[2020-10-27 13:58] sulkaharo opened #629 "Unhandled promise rejection when using Repository.isCollaborator()"
When calling Repository.isCollaborator(), the a _UnhandledPromiseRejectionWarning: Error: 404 error making request get https://api.github.com/repos/org/repo/collaborators/xxx: "Not Found"_ is thrown when a user is not a collaborator, instead of returning false, and if the user is a collaborator, the request object is returned with blank data field. Based on the documentation, the promise should re

[2020-11-06 18:13] cramon3112 opened #630 "Tools"

[2020-11-07 11:50] #630 closed

[2020-11-21 14:48] leobenkel opened #631 "When writing a file: 422 (Unprocessable Entity)"
Hello,

I am trying to write a file doing:

[code]

But i am getting a `422 (Unprocessable Entity)`. This is a new file, and I am seeing in the log the `404 (Not Found)` from the call trying to get the SHA which is correct ( i dont understand why this is dumped into the console tho...).

Looking online at https://developer.github.com/v3/repos/contents/#create-or-update-file-contents , it seems tha

[2020-12-14 01:25] AlexGaiser opened #632 "Add Ability to search JSONPlaceholder for specific users"

[2021-01-01 14:50] garimasingh128 commented on #539
I would also like to contribute to this project.

[2021-01-04 06:52] CoffeeGuyIRL commented on #539
Hi, i would love to maintain this project, and have also maintained other previous projects 😁

[2021-01-05 19:35] ljharb opened #633 "update axios to v0.21+"
There's a CVE for axios < v0.21: https://github.com/advisories/GHSA-4w2v-q235-vp99

similarly to #565, could a version be released that updates axios to latest?

[2021-01-18 05:24] NetaNir commented on #633
Hi!

The AWS CDK also requires this upgrade. If this can be done in a minor version release - happy to submit a pull request.

[2021-01-24 23:31] j-rewerts commented on #539
Hi @garimasingh128 and @FrostyTheDumDum! Apologies for not responding sooner. The last time I worked on this project, the decision had been made to deprecate this library (#564). That being said, if we had a few people that could maintain the library, maybe that would change. Either way, it would be work, as deprecating this library in favour of OctoKit would require some work probably.

If you'd

[2021-01-24 23:50] #633 closed

[2021-01-24 23:58] j-rewerts opened #636 "Project Ownership"
@danielruf @clayreimann @AurelioDeRosa @aendrew

I'd like to get a new group of maintainers+contributors for this project. We have quite a few people that are interested, and people still use the project. I'm not an org owner, so I can't set up any CI tools to get the automated tests rolling again. Would one of you be able to make me an org admin? Also, if any of you would like to contribute to th

[2021-01-25 00:17] j-rewerts commented on #598
PR #599

[2021-01-25 00:17] #598 closed

[2021-01-25 06:19] j-rewerts commented on #633
This fix is in v3.4.0.

[2021-01-25 06:32] FrostyTheDumDum commented on #539
Hi @j-rewerts thanks for replying, I'll start working on some PRs as soon as possible :)

[2021-01-25 07:43] DanielRuf commented on #636
I'm not an org owner or member either.

[2021-01-25 18:26] j-rewerts commented on #636
@DanielRuf Are you still interested in becoming a maintainer?

[2021-01-25 21:40] ljharb commented on #633
Thank you!

[2021-01-26 22:35] #627 closed

[2021-01-26 22:36] #557 closed

[2021-01-26 22:37] #553 closed

[2021-01-26 22:59] #531 closed

[2021-02-13 15:19] Heath123 opened #641 "3.4.0 docs aren't up"
This link is broken: http://github-tools.github.io/github/docs/3.4.0/index.html

[2021-02-13 15:23] Heath123 opened #642 "Creating search from string doesn't work"
Trying to use the function http://github-tools.github.io/github/docs/3.2.3/GitHub.html#search (using 3.4.0 but the docs aren't up for that) like this:
[code]
gives this error:
[code]

[2021-02-13 15:26] Heath123 commented on #642
Looks like it actually needs this, not a string:
` @param {Object} [requestOptions={}] - the current options for the request`

[2021-02-13 15:31] Heath123 commented on #642
There's also no `forCommits` on the class

[2021-02-13 15:35] Heath123 commented on #642
[code]
Huh, I guess I'll have to do that part manually?

[2021-02-13 15:40] Heath123 commented on #642
[code]
Is this my fault or is auth broken?

[2021-02-13 15:46] Heath123 commented on #642
[code]
This seems to work

[2021-02-24 13:06] tepejof80 opened #643 "error"
complie error

[2021-03-10 05:50] XiuyeXYE commented on #487
Mark,faced this before.

[2021-03-14 04:15] Kyllingene opened #644 "Repository.writeFile not working"
When attempting to use Repository.writeFile, this error occurs:
[code]

Here is the code used:
[code]

Any attempts to use in HTML code (Chrome) result in this error:
[code]
My suspicion is incorrect headers, but I don't know much.
#577 and #520 are similar, but have different errors, and so don't seem to apply.

[2021-04-11 21:28] sswahn commented on #644
Also having this issue. Can this api be used from localhost?

[2021-04-19 21:00] wesleywh opened #650 "getCollaborators returns null"
I have generated a personal access token and done the following code:
[code]
The `github_token` is my personal access token. The `owner` is my github username, and the `repo` is the name of my private repo. This is returning null even though there are ~10 collaborators on this project.

Googling around showed me that someone else had this problem and fixed it by adding `?affiliation=direct` and it

[2021-04-23 16:59] auiechko commented on #172
I have a problem, it says that `repo.write(''BRANCH_NAME'',"FILE.txt","CONTENT","YOUR_COMMIT_MESSAGE")` is not a function, can anybody help me with that problem?

[2021-04-26 18:45] ericis commented on #552
Would love to see Topics added as I will have to write this myself using the internal API. I see it's already been tagged in this thread.

[2021-04-28 19:16] blurymind commented on #523
I get the same issue

[2021-04-29 19:54] blurymind opened #651 "Commit an image to a gist"
Can we replicate this in javascript?
https://gist.github.com/mroderick/1afdd71aa69f6b29601d335751a1a9be

When I try to write it with gist.update(...), I get a bunch of binary garbage uploaded.

I can however commit images to github with `{encode: false}`. Can a similar parameter be passed to gist.update?

[2021-05-01 16:03] blurymind commented on #651
could perhaps setting a custom media type do it?
https://docs.github.com/en/rest/reference/gists#custom-media-types-for-gists

can this library even do it and if so where?

[2021-05-03 13:36] blurymind commented on #651
or maybe commit it from cache, after putting it there with the filesystem api?
https://www.arcusglobal.com/news/file-system-how-to

[2021-06-16 15:53] #499 closed

[2021-06-29 13:01] Miky88 opened #652 "Unable to provide a custom Accept header"
How do I provide a custom Accept header?

[2021-08-05 22:48] #652 closed, assigned to nobody

[2021-08-10 07:15] adhvaithprasad opened #654 "I am getting errors"
Hey I am getting a ton of errors
[code]

[2021-08-10 07:15] adhvaithprasad commented on #654
I am sure I entered the correct password and username

[2021-08-17 12:06] KlausSchaefers opened #655 "Write Image to GitRepo"
I am trying to upload an Image to GitHub from the browser. I download the image into a blob, convert the blob into base64 and the use the writeFile method. However, the data never arrives correctly in GitHub.
[code]

[2021-08-24 02:58] MacCode7110 opened #656 "Github Personal Access Token not working as an authentication method when the token is created after August 13th"
I really need help with this! I created a personal access token after August 13th when password authentication became deprecated. The personal access token is not registered as valid when I enter it in the password prompt on Windows Linux Subsystem terminal when trying to push changes to a repo. I get the error message "remote: Invalid username or password". My entered username is correct. I do no

[2021-08-31 22:49] JeanExtreme002 opened #657 "How can I write and send a file to a repository?"
Hello. I would like to know how I can write a file, such as `README.md`, and send it to my repository using this API.

I found on docs the method[ `Repository.createBlob`](http://github-tools.github.io/github/docs/3.2.3/Repository.html#createBlob) but it receives just the content and not the filename. And I'm even not sure if that is the correct method to do what I want.

[2021-08-31 22:54] #657 closed, assigned to nobody

[2021-09-30 08:27] #539 closed

[2021-10-18 13:44] ahmar726348 opened #660 "Facebook hack"

[2021-10-27 05:19] dinesh99639 opened #661 "Appearance before and After logging in (in guthub profile readme)"
This issue is related to official github website (https://github.com/)

Before logging in the width is showing correctly i.e. the components are alligned side be side as per the requirement.

![image](https://user-images.githubusercontent.com/48937982/139003855-1608eb43-0738-4f40-87a6-795936a0ae86.png)

but after logging in, the width is changing in github profile readme

![image](https://user-ima

[2021-11-01 07:36] mygithub-one opened #662 "jar包启动，本地虚拟机，正常启动，云服务器启动报错！"

[2021-11-01 07:42] #662 closed, assigned to nobody

[2021-11-01 11:46] dinesh99639 commented on #661
Its working now

[2021-11-01 11:46] #661 closed, assigned to nobody

[2021-11-01 21:27] Yusf7788 commented on #660
https://www.facebook.com/profile.php?id=100027915371360

[2021-11-01 21:27] Yusf7788 commented on #660
https://www.facebook.com/profile.php?id=100027915371360

[2021-11-01 21:28] Yusf7788 commented on #660
Hack

[2022-01-20 06:37] Quiebrachompas opened #663 "Idioma"
https://github.com/github

[2022-01-20 06:39] Quiebrachompas commented on #663
No está bien definido cuando le cambias  - el idioma y t aparece si quieres traducir

[2022-03-07 13:27] Labeebopc opened #666 "Include some features to highlight some texts in gist notes"
Dear team,
           If there is some features like coloring, italic etc... in Gist, will help many people to highlight the things included in there notes, codes etc...

[2022-04-01 03:13] AntonOfTheWoods commented on #564
Absolutely wonderful. The problem is that octokit was *never* a browser-friendly project (lots of node-specific stuff that needs polyfilling, which projects like `vitejs` have deep philosophical problems with) and @gr2m was told he was no longer needed by Github.

So now this project is abandoned and Octokit *might* find developers one day. In the meantime we are reduced to nasty hacks for things

[2022-04-17 08:36] UNIVERSEBELIEVER opened #667 "123"
123

[2022-04-17 09:58] #667 closed, assigned to nobody

[2022-04-17 09:58] #663 closed, assigned to nobody

[2022-04-17 09:58] #660 closed, assigned to nobody

[2022-05-18 00:59] Angola14 opened #671 "Github"

[2022-05-18 22:56] #671 closed, assigned to nobody

[2022-06-02 12:16] john012343210 opened #674 "initialize user with access token"
[code]

how to initialize the user with an access token instead?

[2022-06-03 01:48] kymtwyf commented on #674
[code]

[2022-06-21 02:29] ymc9 opened #677 "Link to the documentation of latest version is broken"
Hi,

It seems that the link on homepage is broken:
http://github-tools.github.io/github/docs/3.4.0/index.html

[2022-07-04 17:00] Martin-Suska opened #678 "PR templates - support for inputs"
Hi,

This is a request for a feature:
I'd like to have a possibility to specify a fields, that needs to be/or can be entered easily in a PR template.

For example, I want a developer to link a Jira issue in a PR it is related to (we have it in commit, ideally in each one, but it easier to have it in PR description).

So similarly to simple checkbox, I'd like to have easy way in "Preview" tab for P

[2022-07-04 17:05] Martin-Suska commented on #678
If someone can point me directly where checkboxes (`[ ]` in markdown) are handled, maybe I can implement it and create a PR.

[2022-07-13 16:49] burakvnc commented on #609
i just changed input value to +90 and it worked

[2022-07-28 08:20] Pearlminima opened #679 "Tips & tricks for using GitHub Projects for personal productivity"
https://github.blog/2022-07-21-tips-tricks-for-using-github-projects-for-personal-productivity/

[2022-07-28 19:29] Pearlminima opened #680 "HTML Standard"
https://html.spec.whatwg.org/multipage/origin.html#ascii-serialisation-of-an-origin

[2022-07-28 20:03] Pearlminima opened #681 "Tips & tricks for using GitHub Projects for personal productivity"
https://github.blog/2022-07-21-tips-tricks-for-using-github-projects-for-personal-productivity/[]()

[2022-07-29 02:28] Pearlminima opened #682 "35611269a62b8692dea0ae201abbe0a2a55ba10d"
https://github.com/github/.github/commit/35611269a62b8692dea0ae201abbe0a2a55ba10d

[2022-08-06 22:00] Pearlminima opened #683 "Superseded by #2."
Superseded by #2.

__Originally posted by @dependabot in https://github.com/Pearlminima/hub/pull/1#issuecomment-567750509__

[2022-08-07 11:04] Pearlminima opened #684 "EIP-55: Adresscodierung mit gemischter Prüfsumme"
"# All caps
0x52908400098527886E0F7030069857D2E4169EE7
0x8617E340B3D01FA5F11F306F4090FD50E238070D
# All Lower
0xde709f2102306220921060314715629080e2fb77
0x27b1fdb04752bbc536007a920d24acb045561c26
# Normal
0x5aAeb6053F3E94C9b9A09f33669435E7Ef1BeAed
0xfB6916095ca1df60bB79Ce92cE3Ea74c37c5d359
0xdbF03B407c01E7cD3CBea99509d93f8DDDC8C6FB
0xD1220A0cf47c7B9Be7A2E6BA89F429762e7b9aDb"
 https://eips.ethereum

[2022-08-09 18:35] Pearlminima opened #685 "This seems like a bit of a refactoring so I'll do this in a separate issue later if that's okay; https://github.com/opencollective/opencollective/issues/5843"
This seems like a bit of a refactoring so I'll do this in a separate issue later if that's okay; https://github.com/opencollective/opencollective/issues/5843

_Originally posted by @SudharakaP in https://github.com/opencollective/opencollective-frontend/pull/8057#discussion_r941679182_

[2022-08-09 22:07] Pearlminima opened #686 "Magic Connect / SSO für Web 3"
https://magic.link/connect

[2022-08-10 22:25] Pearlminima opened #687 "Highcharts-Exportserver"
"https://github.com/highcharts/node-export-server.\n\n"
 https://export.highcharts.com/#:~:text=https%3A//github.com/highcharts/node%2Dexport%2Dserver.%5Cn%5Cn

[2022-08-12 09:07] SantoshKumarRavi opened #688 "Audio files will be added to issues details"
Verbal explanation are needed .I didn't avoid it. In order to make deep understanding of the history in issues,
**Audio file recordings** help to increase the _clarity_.

[2022-08-13 11:37] rilysh commented on #539
Hi there. It's been more than one year last commit was done. From there GitHub have a lot more updates recently, and I'd like to maintain GitHub.js. Can anyone kindly add me here via a GitHub organizational invite? Or should I fork it instead? What do you prefer folks?

[2022-08-30 10:28] usarraf opened #689 "Github background info keeps on loading"
Issue persists even if I change browser. I have tried restarting machine and done multiple logins . Still the issue persists.]

Also my profile drop-down is giving this error "Sorry, something went wrong."

[2022-08-30 10:36] usarraf commented on #689
![GithubIssue.png](https://user-images.githubusercontent.com/13657113/187415763-e44c5aed-98c4-4f40-8333-37dff4f2d756.png)

[2022-08-30 10:37] usarraf commented on #689
![20220830_160700.jpg](https://user-images.githubusercontent.com/13657113/187415995-02356d37-0a81-434d-a5fe-9f10760a0a8e.jpg)

[2022-08-30 10:38] usarraf commented on #689
I am using Ubuntu 14.04

[2022-09-15 20:12] AnonSaintsGroup opened #691 "New Issue · duckduckgo/Android"
https://github.com/duckduckgo/Android/issues/new?template=bug_report.yaml

[2022-09-21 12:56] #526 closed

[2022-10-13 11:11] LotyCZ opened #693 "Shout out"

[2022-11-21 02:24] #510 closed